<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Nauka gramatyki języka polskiego</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- CDN links -->


    <!--    <script src="//get.jloads.com/jloads-form.js"></script>-->
    <script src="//get.jloads.com/jloads-obj.js?2"></script>
    <script>
        jloadsUrl({
            "head": [
                "//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css",
                "//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js",
                "/static/amsify/amsify.suggestags.css",
                "/static/amsify/jquery.amsify.suggestags.js",
                "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",
                "/static/css/fade-in.css",
                "/static/css/tags.css",
            ],
            "footer": [
                "/static/html/footer.html",
                "/static/amsify/config.js",
            ]
        });
    </script>


    <script>
        jloadsObj("json/sentence.json", function (obj, url) {
            console.log(obj["q&a"], url);
            each(obj["q&a"], function (v, k) {
                var varr = v.split(' ');
                console.log(k, v, varr);
                $('input[name="first"]').val(varr);
            });
        });
    </script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Polish & German grammar</a>
</nav>
<br/>
<br/>
<br/>
<div class="container">

    <form method="POST" action="/process">
        <div class="form-group">
            <label>Sentence</label>
            <textarea type="text" rows="1" cols="5" class="form-control" name="zdanie" required="true"></textarea>
            <br/>
            <button type="submit" class="btn btn-info"><i class="fa fa-language"></i> Send</button>
        </div>
        <br/>
        <select class="form-control" name="jezyk">
            <option value="polski">polish</option>
            <option value="niemiecki">german</option>
        </select>
        <br/>
    </form>

</div>

<div class="container">
    <div>
        <p class="alert-heading">Dependency parse</p>
        {% if results %}
        <img src="{{url_for('static', filename = results)}}" width="1024">
        {% endif %}
    </div>
</div>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Nauka Gramatyki języka Niemieckiego</a>
</nav>

<header>
    <div class="container">
        <h1 class="text-center">Nauka Gramatyki języka Niemieckiego</h1>
    </div>
</header>

<div class="container tags">

    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">

        <!--		<h4>Polish Sentence</h4>-->
        <div class="form-group sentence first">
            <!--			<input type="text" class="form-control" name="first" value="Ich,bin,zu,Hause"/>-->
            <input type="text" class="form-control" name="first" value="(Ja) Jestem,w,domu"/>
        </div>


        <!--		<h4>German Sentence</h4>-->
        <div class="form-group sentence">
            <input type="text" class="form-control" name="sentence" value="Ich,bin,zu,Hause"/>
        </div>

    </div>
    <div class="col-md-3"></div>


    <!-- Footer here -->

</div>

<footer></footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
